.App {
  border: 1px dotted deepskyblue;
  box-sizing: border-box;
  display: flex;
  height: 100vh;  
  width: 100%;  
}

.menu {
  display: flex;
  flex-direction: column;
  border: 1px dotted deeppink;
  min-width: 200px;
}

.menu-active {
  background-color: brown;
}

.menu li {
  list-style: none;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  flex-grow: 1;
}